/*
// Academia
/// Academia Splash
*/

// Call Bourbon
@import 'bourbon/bourbon';
// Splash

* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}

body {
	background: #343533;
	font-family: "proxima-nova";
}

.wrap {
	box-sizing: border-box;
	min-height: 100%;
	background: #343533 url('../images/cover.png') no-repeat;
	background-size: cover;

	@media(max-width: 600px) {
		background: #343533 url('../images/cover.png') no-repeat center center;
		background-size: cover;
	}
}

.logo {
	text-align: center;
	opacity: 0;
	box-sizing: border-box;
	padding: 10px;
	max-width: 341px;
	//padding-top: 150px;
	margin-left: auto;
	margin-right: auto;
	//@include display(flex);
	margin-bottom: 50px;

	img {max-width: 100%; height: auto;}
}

.site-title {
	//@include display(flex);
	opacity: 0;
	box-sizing: border-box;
	padding: 10px;
	//padding-top: 150px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;

	img {max-width: 100%; height: auto;}

	h1 {
		font-family: "Gotham A", "Gotham B";
		font-family: "proxima-nova";
		font-style: normal;
		font-weight: 400;
		text-align: center;
		font-size: 2.75em;
		letter-spacing: 1.5px;

		@media(max-width: 550px) {
			font-size: 2em;
		}
	}
	h3 {
		font-family: "Gotham A", "Gotham B";
		font-family: "proxima-nova";
		font-style: normal;
		font-weight: 500;
		text-align: center;
		position: relative;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		@media(max-width: 550px) {
			font-size: 1em;
		}

		&:before {
			position: absolute;
			content: '\00a0';
			display: block;
			height: 0;
			width: 10%;

			border-top: 1px solid #fff;
			left: 0%;
			top: 50%;
		}
		&:after {
			position: absolute;
			content: '\00a0';
			display: block;
			height: 0;
			width: 10%;

			border-top: 1px solid #fff;
			right: 0;
			top: 50%;
		}
	}
}

.info {
	opacity: 0;
	box-sizing: border-box;
	padding: 10px;
	color: #9b9b9b;
	line-height: 23px;
	p {margin-bottom: 10px;}
	a {
		text-decoration: none;
		color: #b69554;
	}
}

.container {
	box-sizing: border-box;
	position: relative;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
	padding-bottom: 30px;
	//min-height: 100%;
	height: 90vh;
	@include display(flex);
	@include align-items(flex-end);
}

.spacer {
}

.know-more {
	opacity: 0;
	position: relative;
	//margin-top: -5%;
	z-index: 10;
	min-height: 10%;

	.content-block {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		color: #9b9b9b;
		margin-top: 75px;
		margin-bottom: 25px;

		.study-info {
			margin-top: 25px;

			.study-text {
				text-align: center;
				font-size: 1.4em;
				margin-bottom: 25px;
			}

			.after-card {
				margin-top: 15px;
				text-align: center;
				a {
					color: #9b9b9b;
					&:hover {
						color: #a71e22;
					}
				}
			}

			.study-card {
				box-sizing: border-box;
				overflow: hidden;
				max-width: 275px;
				background: #f3f3f3;
				color: #3f3f3f;
				margin-left: auto;
				margin-right: auto;
				min-height: 200px;

				img {
					display: block;
					max-width: 25%;
					margin-top: 50px;
					margin-left: auto;
					margin-right: auto;
					@media(max-width: 550px) {
						max-width: 50%;
					}
				}

				.card-title {
					box-sizing: border-box;
					padding: 10px;
					text-align: center;
					background: #3f3f3f;
					color: #f3f3f3;
				}
				.card-content {
					padding: 10px;
				}

				.study-date {
					text-align: center;
					margin-top: 10px;
					margin-bottom: 10px;
					h4 {margin-bottom: 5px;}
				}
				.study-dur {
					text-align: center;
					margin-top: 10px;
					margin-bottom: 10px;
					h4 {margin-bottom: 5px;}
				}

				.card-button {
					text-align: center;
				}
			}
		}

		.button {
			margin-top: 10px;
			padding: 10px 15px 8px;
			border: 1px solid transparent;
			text-transform: uppercase;
			font-size: 1em;
			cursor: pointer;
			outline: none;
			display: inline-block;
			@include transition(all .24s linear);

			a {display: block; text-decoration: none;}

			&.red {
				color: #9b9b9b;
				background: #a71e22;
				a {color: #fff;}

				&:hover,&:focus {
					background: #751417;
				}
			}
		}

		.archive-block {
			margin-top: 50px;

			.archive-call {
				font-size: 1.4em;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.archive-hold {
				text-align: center;
			}
		}

		.donate-block {
			margin-top: 75px;

			.donate-call {
				font-size: 1.4em;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.button-hold {
				margin-top: 10px;
				text-align: center;
			}
		}

		.social {
			display: flex;
			justify-content: space-between;
			width: 70%;
			margin-top: 75px;
			margin-bottom: 75px;
			margin-left: auto;
			margin-right: auto;

			img {
				height: 35px;
			}
		}
	}

	.form {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		color: #9b9b9b;

		input[type="text"],input[type="email"] {
			box-sizing: border-box;
			display: block;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			margin-bottom: 20px;

			color: #9b9b9b;
			background: #3f403c;
			padding: 10px 10px 8px;
			border: 2px solid transparent;
			outline: none;
			font-size: 1.3em;
			font-size: 16px;
			letter-spacing: 1px;
			font-style: italic;

			@include transition(all .1s ease);

			&:focus {
				border-color: #9b9b9b;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		input[type="submit"] {
			box-sizing: border-box;
			display: block;
			width: 80%;
			max-width: 165px;
			padding: 10px 8px;
			border: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: 35px;

			text-transform: uppercase;
			font-size: 1.1em;
			color: #fff;
			background: #a71e22;
			cursor: pointer;
			outline: none;

			@include transition(all .1s ease);

			&:hover,&:focus {
				background: #751417;
			}
		}
	}

	.footer {
		opacity: 0;
		margin-top: 150px;
		width: 650px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		color: #9b9b9b;
		text-align: center;


		a {text-decoration: none;}
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}