body {
min-width: 800px;
}

.wrap {min-width: 800px;}


.container {display: table;}
.container img {max-width: 100%;}
.logo {
opacity: 1;
display: table-cell;
vertical-align: middle;
padding-top: 350px;
}
.site-title {
opacity: 1;
display: table-cell;
vertical-align: middle;
padding-top: 350px;
}

.know-more {
opacity: 1;
}

.content-block * {
opacity: 1;
}

.know-more .footer {
opacity: 1;
}

.social {
  display: table;
}

.social a {
  display: table-cell;
}

.social a,.social a:visited {
  text-decoration: none;
}

.button a,.button a:active, .button a:visited {
  text-decoration: none;
  color: #fff;
  display: block;
}

.donate-call {
  display: none;
}

.archive-call {
  display: none;
}

.study-card {
  display: none;
}